* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.2;
}

body {
    height: 100vh;
}


.navbar {
    height: 100px;
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;

}

.nav a {
    font-size: 18px;
    color: #f9faf8;
    margin-right: 16px;
    margin-top: 16px;
    text-decoration: none;

}

.header {
    height: 300px;
    background: #1f2937;
}

button {
    background-color: #3882f6;
    color: white;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header p {
    color: #f9faf8;
}

.header img {
    width: 400px;
    height: 400px;
    background-color: grey;
}

.section1 {
    height: 300px;
}

.section2 {
    background: #e5e7eb;
    height: 300px;

}

.section2 .inspiring-quote {
    font-size: 36px;
    font-weight: 10;
    color: #1f2937;
}

.section3 {
    height: 300px;
}

.section3 .container {
    background-color: #3882f6;
}

.footer {
    height: 100px;
    background-color: #1f2937;
}