* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.2;
}

body {
    height: 100vh;
}


.navbar {
    height: 100px;
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;

}

.nav a {
    font-size: 18px;
    color: #f9faf8;
    margin-right: 16px;
    margin-top: 16px;
    text-decoration: none;

}

.header {
    height: 400px;
    background: #1f2937;

}

.header .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header .container .sub-container {
    height: 200px;
    width: 400px;




}

button {
    background-color: #3882f6;
    color: white;
    height: 35px;
    border: 1px solid white;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    /* border: 0px round white; */
    border-radius: 5px;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header p {
    color: #f9faf8;
}

.header img {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: grey;
    border: 2px solid #3882f6;
}

.section1 {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.section1-container {
    display: flex;
    gap: 40px;
}

.section1-sub-container {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
}

.section1-sub-container img {
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 7px;
}

.section1-sub-container p {
    width: 150px;
}

.section2 {
    background: #e5e7eb;
    height: 400px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.section2-container {
    height: 100%;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section2 .inspiring-quote {
    font-size: 36px;
    font-weight: 10;
    color: #1f2937;

}

.writer {
    font-weight: bold;
    font-size: 28px;
    align-self: flex-end;
}

.section3 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .container {
    background-color: #3882f6;
    color: #e5e7eb;
    height: 150px;
    border-radius: 20px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.call-to-action {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.footer {
    height: 100px;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}